<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <center>
        <div class=caption>Station: <%= StationId %></div><br>
    </center>



    <div class="grid_recipe">
        <div class="recipe">
            <form id='form'>

                <div class="grid_recipe">
                    <div class="form_name">Indexhjul_Beteckning</div>
                    <div class="form"><input type="text" name="Indexhjul_Beteckning" value="<%=Indexhjul_Beteckning%>" />
                    </div>
                    <div class="sql_hit" id="indexhjul"></div><br>
                </div>
                <div class="grid_recipe">
                    <div class="form_name">Indexhjul_Delning</div>
                    <div class="form"><input type="text" name="Indexhjul_Delning" value="<%=Indexhjul_Delning%>" />
                    </div>
                    <div class="sql_hit" id=""></div><br>
                </div>
                <div class="grid_recipe">
                    <div class="form_name">Indexhjul_Utmatningslangd</div>
                    <div class="form"><input type="text" name="Indexhjul_Utmatningslangd" value="<%=Indexhjul_Utmatningslangd%>" />
                    </div>
                    <div class="sql_hit" id=""></div><br>
                </div>
                <div class="grid_recipe">
                    <div class="form_name">Indexhjul_StationId</div>
                    <div class="form"><input type="text" name="Indexhjul_StationId" value="<%=Indexhjul_StationId%>" />
                    </div>
                    <div class="sql_hit" id=""></div><br>
                </div>
            </form>
        </div>

        <div class=side>
            <center>
                <button type="button" id="test_indexhjul" name="test_indexhjul"
                    style="background-color: #05af51; display: none;">
                    Testa indexhjul
                </button>
                <div class="div_overwrite" id="div_overwrite">
                    <button type="button" id="change_indexhjul" name="change_indexhjul"
                        style="background-color: #af5105;">
                        Skriv över indexhjul
                    </button>
                </div>
                <div class="div_delete" id="div_delete">
                    <button type="button" id="delete_indexhjul" name="delete_indexhjul"
                        style="background-color: #af5105;">
                        Ta bort indexhjul
                    </button>
                </div>
                <div class="div_new" id="div_new">
                    <button type="button" id="new_indexhjul" name="new_indexhjul" style="background-color: #af0563;">
                        Skapa nytt indexhjul
                    </button>
                </div>
                <script src="https://code.jquery.com/jquery-3.1.1.js"
                    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="public/ajax_indexhjul.js"></script>
            </center>
        </div>
    </div>

    <script type="text/javascript">
        var form = document.querySelector('form');
        form.addEventListener('keyup', function () {
            $('#div_new').hide();
            $('#div_overwrite').hide();
            $('#div_delete').hide();
            $('#test_indexhjul').trigger('click');
        });

        $(document).ready(function () {
            $('#div_new').hide();
            $('#div_overwrite').hide();
            $('#div_delete').hide();
            $('#test_indexhjul').trigger('click');
        });

        document.getElementById('form').onkeypress = function () {
            if (event.keyCode === 39) { // apostrophe
                // prevent the keypress
                return false;
            }
        };

        $(document).ready(function () {
            $("#delete_indexhjul").on("click", function (e) {
                $('#div_new').hide();
                $('#div_overwrite').hide();
                $('#div_delete').hide();
            });
        });

        $(document).ready(function () {
            $("#new_indexhjul").on("click", function (e) {
                $('#div_new').hide();
                $('#div_overwrite').hide();
                $('#div_delete').hide();
            });
        });

        $(document).ready(function () {
            $("#change_indexhjul").on("click", function (e) {
                $('#div_new').hide();
                $('#div_overwrite').hide();
                $('#div_delete').hide();
            });
        });
    </script>
</body>

</html>